In [1]:
#4. Create a list of your favorite movies and print it. Then, append a new movie to the list and print the updated list.
movies=["Cars", "Ratatouille", "A boy in the stripped pajamas"]
movies

['Cars', 'Ratatouille', 'A boy in the stripped pajamas']

In [12]:
movies.append ("Venom: The Last Dance")
movies.pop()
movies

['Cars',
 'Ratatouille',
 'A boy in the stripped pajamas',
 'Venom: the last dance',
 'Venom: The Last Dance',
 'Venom: The Last Dance']

In [20]:
# 5. Create a list of integers from 1 to 10 and print it. Calculate the sum of all the numbers in the list and print the result.
# List_int=[1,2,3,4,5,6,7,8,9,10]
List_int=list(range(1,11))
List_int

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
Sums=sum(List_int)
print("The total sum is:",Sums)

The total sum is: 55

In [26]:
# 6. Create a list of mixed data types including strings, integers, and floats and print it. Remove the first element from the list and print the modified list.
Mixed_datas=["Python" ,"is", 3.14,2]
print("Before deletion : ",Mixed_datas)

Before deletion :  ['Python', 'is', 3.14, 2]

In [27]:
Mixed_datas.pop(0)
print ("After Deleting data from index 0: ",Mixed_datas)

After Deleting data from index 0:  ['is', 3.14, 2]

In [28]:
# 7. Create a tuple containing the names of the days of the week and print it. Access and print the name of the third day.
Days_in_a_week=("Sunday" , "Monday" , "Tuesday" , "Wednesday" , "Thursday" ,"Friday" , "Saturday")
print(Days_in_a_week)

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

In [30]:
Third_day=Days_in_a_week[2]
print(Third_day)

Tuesday

In [31]:
# 8. Create a tuple of your favorite colors and print it. Check if a certain color is present in the tuple and print the result.
Colors=("Red" , "Navy Blue", "Torquoise Green", "Yellow", "Pink")
Colors

('Red', 'Navy Blue', 'Torquoise Green', 'Yellow', 'Pink')

In [32]:
'Red' in Colors

True

In [33]:
"Black" in Colors

False

In [37]:
# 9. Create a dictionary representing the information of a book with keys "title", "author", and "year" and print it. Update the year of the book and print the updated dictionary.
Books={"title": "Programming with Python", "author" : "Mark" , "year" : 2001}
print("Original : " , Books)

Original :  {'title': 'Programming with Python', 'author': 'Mark', 'year': 2001}

In [41]:
Books["Year"]=1990
print("Updated : ", Books)

Updated :  {'title': 'Programming with Python', 'author': 'Mark', 'year': 2001, 'Year': 1990}

In [42]:
# 10. Create a dictionary containing the names of fruits as keys and their corresponding colors as values and print it. Add a new fruit-color pair to the dictionary and print the updated dictionary.
Fruits={"Apple" : "red" , "Tangerine" : "Orange" , "Kiwi": "Green" , "Banana" : "Yellow"}
Fruits

{'Apple': 'red', 'Tangerine': 'Orange', 'Kiwi': 'Green', 'Banana': 'Yellow'}

In [43]:
Fruits["Grape"]="Purple"
print("Updated : ", Fruits)

Updated :  {'Apple': 'red', 'Tangerine': 'Orange', 'Kiwi': 'Green', 'Banana': 'Yellow', 'Grape': 'Purple'}

In [49]:
# 11. Create a dictionary representing the population of different cities with keys as city names and values as population numbers and print it. Remove a city from the dictionary and print the modified dictionary.
Cities={"Kathmandu" :1000 , "Pokhara" :2000 , "Hetauda" : 1500 , "Chicago" : 300000}
Cities

{'Kathmandu': 1000, 'Pokhara': 2000, 'Hetauda': 1500, 'Chicago': 300000}

In [50]:
del Cities["Pokhara"]
Cities

{'Kathmandu': 1000, 'Hetauda': 1500, 'Chicago': 300000}